@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This page is for the database searching. (give options for using different all the different parameters in the database.*@

@model SearchDatabaseViewModel
<div class="pb-4 text-center">
    <div class="row">
        <div class="col-1">
            <partial name="CollapsedSearchMenu" model="@Model.CurrentSearch" />
        </div>
        <div class="col-11">
            <div class="row">

                @foreach (var x in Model.Burials)
                {
                    <div class="col-4 p-0 m-0">
                        <a asp-controller="Home" asp-action="" class="nav-link">
                            <div class="card text-center bg-white" style="width:100%" onclick="">
                                <div class="card-body row">
                                    <div class="col-5">
                                        <h6 class="card-title">
                                            @x.BurialId
                                        </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                        <small>
                                            Orientation:
                                            @if (x.BurialDirection == "W")
                                            {
                                                <i>
                                                    West
                                                </i>
                                            }
                                            else if (x.BurialDirection == "E")
                                            {
                                                <i>
                                                    East
                                                </i>
                                            }
                                            else
                                            {
                                                <i>
                                                    -
                                                </i>
                                            }
                                        </small></h6>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                        <small>
                                            Depth:
                                            @if (x.BurialDepth == 0 || x.BurialDepth is null)
                                            {
                                                <i>
                                                    -
                                                </i>
                                            }
                                            else
                                            {
                                                <i>
                                                    @x.BurialDepth
                                                </i>
                                            }
                                        </small></h6>
                                        <br />
                                    </div>
                                    <div class="col-7">
                                        <div class="row">
                                            <container class="col-6">
                                                <h6 class="byu-text small">
                                                    Hair Color:
                                                    @if (x.HairColorCode is null || x.HairColorCode == "U")
                                                    {
                                                        <p class="card-text small">-</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text small">@x.HairColor</p>
                                                    }
                                                </h6>
                                                <h6 class="byu-text small">
                                                    Wrapping:
                                                    @if (x.BurialWrappingCode is null || x.BurialWrappingCode == "U")
                                                    {
                                                        <p class="card-text small">-</p>
                                                    }
                                                    else if (x.BurialWrappingCode == "W")
                                                    {
                                                        <p class="card-text small">Full Wrapping</p>
                                                    }
                                                    else if (x.BurialWrappingCode == "H")
                                                    {
                                                        <p class="card-text small">Partial Wrapping</p>
                                                    }
                                                    else if (x.BurialWrappingCode == "B")
                                                    {
                                                        <p class="card-text small">Very Little/No Wrapping</p>
                                                    }
                                                </h6>
                                                <h6 class="byu-text small">
                                                    Gender:
                                                    @if (x.GenderCode is null || x.GenderCode == "U")
                                                    {
                                                        <p class="card-text small">-</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text small">@x.Gender</p>
                                                    }
                                                </h6>
                                            </container>
                                            <container class="col-6">
                                                <h6 class="byu-text small">
                                                    Age:
                                                    @if (x.AgeCodeSingle is null || x.AgeCodeSingle == "U")
                                                    {
                                                        <p class="card-text small">-</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text small">@x.Age</p>
                                                    }
                                                </h6>
                                                <h6 class="byu-text small">
                                                    Bone:
                                                    @if (Model.Cranial.Where(b => b.BurialId == x.BurialId).Count() != 0)
                                                    {
                                                        <p class="card-text small">Cranial Lengths</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text small">No Info</p>
                                                    }
                                                </h6>
                                                <h6 class="byu-text small">
                                                    Items:
                                                    @if (Model.Cranial.Where(b => b.BurialId == x.BurialId).Where(b => b.BuriedWithArtifacts == true).Count() != 0)
                                                    {
                                                        <p class="card-text small">Buried with Artifacts</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text small">No Artifacts</p>
                                                   }
                                                </h6>
                                                <form asp-action="FullMummyData">
                                                    <input hidden name="BurialId" id="BurialId" value="@x.BurialId" />
                                                    <input type="submit" value="Edit" class="shadow" />
                                                </form>
                                            </container>
                                        </div>
                                    </div>
                                    @if(User.IsInRole("Admin")) { 
                                        <div class="col-6 text-center">
                                            <form asp-action="DeleteMummy" asp-controller="Researcher" method="post">
                                                <input name="mummyid" id="mummyid" value="@x.BurialId" hidden />
                                                <input type="submit" class="btn byu-color text-white small" asp-action="DeleteMummy" asp-controller="Researcher" value="Delete" />
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
    <div page-model="@Model" page-action="DatabaseSearch" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="byu-color text-white" class="btn-group pull-right m-1"></div>
</div>


