@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SearchInfo 

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <form class="p-3">
        <h6 class="byu-text">Location</h6>
        <label>North Minimum Coordinates</label>
        <select asp-for="NorthMin" id="northmax" name="northmax" value="@Model.NorthMin">
            <option value="">-</option>
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="110">110</option>
            <option value="120">120</option>
            <option value="130">130</option>
            <option value="140">140</option>
            <option value="150">150</option>
            <option value="160">160</option>
            <option value="170">170</option>
            <option value="180">180</option>
            <option value="190">190</option>
            <option value="200">200</option>
        </select>
        <label>North Maximum Coordinates</label>
        <select asp-for="NorthMax" id="northmax" name="northmax" value="@Model.NorthMax">
            <option value="">-</option>
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="110">110</option>
            <option value="120">120</option>
            <option value="130">130</option>
            <option value="140">140</option>
            <option value="150">150</option>
            <option value="160">160</option>
            <option value="170">170</option>
            <option value="180">180</option>
            <option value="190">190</option>
            <option value="200">200</option>
        </select>
        <label>East Minimum Coordinates</label>
        <select asp-for="EastMin" id="eastmin" name="eastmin" value="@Model.EastMin">
            <option value="">-</option>
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
        </select>
        <label>East Maximum Cooridinates</label>
        <select asp-for="EastMax" id="eastmax" name="eastmax" value="@Model.NorthMax">
            <option value="">-</option>
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
        </select>
        <br class="small" />
        <input type="checkbox" asp-for="West" id="westloc" name="westloc" value="@Model.West" checked />
        <label asp-for="West" id="westloc" name="westloc" >Include West Burials</label>
        <hr />
        <h6 class="byu-text">Orientation</h6>
        <div class="row">
            <div class="col-4">
                <input asp-for="WestOrient" type="checkbox" id="westface" name="westface" checked value="@Model.WestOrient" />
                <label asp-for="WestOrient" id="westface" name="westface">West</label>
            </div>
            <div class="col-4">
                <input asp-for="EastOrient" type="checkbox" id="eastface" name="eastface" checked value="@Model.EastOrient" />
                <label asp-for="EastOrient" id="eastface" name="eastface">East</label>
            </div>
            <div class="col-4">
                <input asp-for="UnknownOrient" type="checkbox" id="unknownface" name="unknownface" checked value="@Model.UnknownOrient" />
                <label asp-for="UnknownOrient" id="unknownface" name="unknownface">Unknown</label>
            </div>
        </div>
        <hr />
        <h6 class="byu-text">Burial Depth</h6>
        <label asp-for="DepthMin" id="depthmin" name="depthmin">Minimum Depth (m)</label>
        <input asp-for="DepthMin" type="number" id="depthmin" name="depthmin" min="0" max="5" value="@Model.DepthMin" />
        <label asp-for="DepthMax" id="depthmax" name="depthmax">Maximum Depth (m)</label>
        <input asp-for="DepthMax" type="number" id="depthmax" name="depthmax" min="0" max="5" value="@Model." />
        <hr />
        <h6 class="byu-text">Hair Color</h6>
        <div class="row">
            <div class="col-4">
                <input asp-for="Black" type="checkbox" id="black" name="black" value="@Model.Black" checked />
                <label asp-for="Black" id="black" name="black">Black</label>
            </div>
            <div class="col-4">
                <input asp-for="Blond" type="checkbox" id="blond" name="blond" checked value="@Model.Blond"/>
                <label asp-for="Blond" id="blond" name="blond">Blond</label>
            </div>
            <div class="col-4">
                <input asp-for="BrownRed" type="checkbox" id="brownred" name="brownred" checked value="@Model.BrownRed"/>
                <label asp-for="BrownRed" id="brownred" name="brownred">Brown-Red</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input asp-for="Brown" type="checkbox" id="brown" name="brown" checked value="@Model.Brown"/>
                <label asp-for="Brown" id="brown" name="brown">Brown</label>
            </div>
            <div class="col-4">
                <input asp-for="Red" type="checkbox" id="red" name="red" checked value="@Model.Red"/>
                <label asp-for="Red" id="red" name="red">Red</label>
            </div>
            <div class="col-4">
                <input asp-for="UnknownColor" type="checkbox" id="unknowncolor" name="unknowncolor" checked value="@Model.UnknownColor"/>
                <label asp-for="UnknownColor" id="unknowncolor" name="unknowncolor">Unknown</label>
            </div>
        </div>
        <hr />
        <h6 class="byu-text">Gender</h6>
        <div class="row">
            <div class="col-4">
                <input asp-for="Female" type="checkbox" id="female" name="female" checked value="@Model.Female"/>
                <label asp-for="Female" id="female" name="female">Female</label>
            </div>
            <div class="col-4">
                <input asp-for="Male" type="checkbox" id="male" name="male" checked value="@Model.Male"/>
                <label asp-for="Male" id="male" name="male">Male</label>
            </div>
            <div class="col-4">
                <input asp-for="UnknownGender" type="checkbox" id="unknowngender" name="unknowngender" checked value="@Model.UnknownGender"/>
                <label asp-for="UnknownGender" id="unknowngender" name="unknowngender">Unknown</label>
            </div>
        </div>
        <hr />
        <h6 class="byu-text">Age</h6>
        <div class="row">
            <div class="col-6">
                <input asp-for="Adult" type="checkbox" id="adult" name="adult" checked value="@Model.Adult"/>
                <label asp-for="Adult" id="adult" name="adult">Adult - year 15+</label>
            </div>
            <div class="col-6">
                <input asp-for="Child" type="checkbox" id="child" name="child" checked value="@Model.Child"/>
                <label asp-for="Child" id="child" name="child">Child - years 3-15</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input asp-for="Infant"type="checkbox" id="infant" name="infant" checked value="@Model.Infant"/>
                <label asp-for="Infant" id="infant" name="infant">Infant - years 1-3</label>
            </div>
            <div class="col-6">
                <input asp-for="Newborn" type="checkbox" id="newborn" name="newborn" checked value="@Model.Newborn"/>
                <label asp-for="Newborn"id="newborn" name="newborn">Newborn - year 0-1</label>
            </div>
        </div>
        <input asp-for="UnknownAge" type="checkbox" id="unknownage" name="unknownage" checked value="@Model.UnknownAge"/>
        <label asp-for="UnknownAge" id="unknownage" name="unknownage">Unknown</label>
        <hr />
        <h6 class="byu-text">Wrappings</h6>
        <div class="col-12">
            <input asp-for="LittleBones" type="checkbox" id="boneswrap" name="boneswrap" checked value="@Model.LittleBones"/>
            <label asp-for="LittleBones" id="boneswrap" name="boneswrap">Bones/Little Wrapping</label>
        </div>
        <div class="col-12">
            <input asp-for="FullWrap" type="checkbox" id="fullwrap" name="fullwrap" checked value="@Model.FullWrap"/>
            <label asp-for="FullWrap" id="fullwrap" name="fullwrap">Full/Nearly Full Wrapping</label>
        </div>
        <div class="col-12">
            <input asp-for="PartialWrap" type="checkbox" id="partialwrap" name="partialwrap" checked value="@Model.PartialWrap"/>
            <label asp-for="PartialWrap" id="partialwrap" name="partialwrap">Partial Wrapping</label>
        </div>
        <div class="col-12">
            <input asp-for="UnknownWrap" type="checkbox" id="unknownwrap" name="unknownwrap" checked value="@Model.UnknownWrap"/>
            <label asp-for="UnknownWrap" id="unknownwrap" name="unknownwrap">Unknown</label>
        </div>
        <label asp-for="WrapWords" id="wr/div>*wrappings" name="wrappings">Wrapping Search Terms (separated by commas)</label>
        <input asp-for="WrapWords" type="text" id="wrappings" name="wrappings" value="@Model.WrapWords"/>
        <hr />
        <h6 class="byu-text">Items</h6>
        <label asp-for="ItemWords" id="items" name="items">Item Search Terms (separated by commas)</label>
        <input asp-for="ItemWords" type="text" id="items" name="items" value="@Model.ItemWords"/>

        <input type="submit" class="btn byu-color" value="Search" />
    </form>

</div>
<button class="openbtn float-left" onclick="openNav()">Change Search Parameters</button>

