@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SearchInfo 

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <form class="p-3" asp-controller="Home" asp-action="DatabaseSearch" method="post">
        <h6 class="byu-text">Location</h6>
        <label>North Minimum Coordinates</label>
        <select asp-for="NorthMin" id="northmin" name="northmin" value="@Model.NorthMin">
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="110">110</option>
            <option value="120">120</option>
            <option value="130">130</option>
            <option value="140">140</option>
            <option value="150">150</option>
            <option value="160">160</option>
            <option value="170">170</option>
            <option value="180">180</option>
            <option value="190">190</option>
            <option value="200">200</option>
        </select>
        <label>North Maximum Coordinates</label>
        <select asp-for="NorthMax" id="northmax" name="northmax" value="@Model.NorthMax">
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="110">110</option>
            <option value="120">120</option>
            <option value="130">130</option>
            <option value="140">140</option>
            <option value="150">150</option>
            <option value="160">160</option>
            <option value="170">170</option>
            <option value="180">180</option>
            <option value="190">190</option>
            <option value="200">200</option>
        </select>
        <label>East Minimum Coordinates</label>
        <select asp-for="EastMin" id="eastmin" name="eastmin" value="@Model.EastMin">
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
        </select>
        <label>East Maximum Cooridinates</label>
        <select asp-for="EastMax" id="eastmax" name="eastmax" value="@Model.EastMax">
            <option value="0">0</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
        </select>
        <br class="small" />
        <input type="checkbox" asp-for="West"value="@Model.West"  />
        <label asp-for="West" >Include West Burials</label>
        <hr />
        <h6 class="byu-text">Orientation</h6>
        <div class="row">
            <div class="col-4">
                <input asp-for="@Model.WestOrient" class="form-check-input" />
                <label asp-for="@Model.WestOrient" class="form-check-label">
                    West
                </label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.EastOrient" class="form-check-input" />
                <label asp-for="@Model.EastOrient" >West</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.UnknownOrient" class="form-check-input" />
                <labefl asp-for="@Model.UnknownOrient">Unknown</labefl>
            </div>
        </div>
        <hr />
        <h6 class="byu-text">Burial Depth</h6>
        <label asp-for="DepthMin">Minimum Depth (m)</label>
        <input asp-for="DepthMin" type="number"  min="0" max="5" value="@Model.DepthMin" />
        <label asp-for="DepthMax" >Maximum Depth (m)</label>
        <input asp-for="DepthMax" type="number" min="0" max="5" value="@Model.DepthMax" />
        <hr />
        <h6 class="byu-text">Hair Color</h6>
        <div class="row">
            <div class="col-4">
                <input asp-for="@Model.Black" class="form-check-input" />
                <label asp-for="@Model.Black">Black</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.Blond" class="form-check-input"/>
                <label asp-for="@Model.Blond" >Blond</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.BrownRed" class="form-check-input"/>
                <label asp-for="@Model.BrownRed">Brown/Red</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input asp-for="@Model.Brown" class="form-check-input"/>
                <label asp-for="@Model.Brown">Brown</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.Red" class="form-check-input"/>
                <label asp-for="@Model.Red" >Red</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.UnknownColor" class="form-check-input"/>
                <label asp-for="@Model.UnknownColor" >Unknown</label>
            </div>
        </div>
        <hr />
        <h6 class="byu-text">Gender</h6>
        <div class="row">
            <div class="col-4">
                <input asp-for="@Model.Female" class="form-check-input"/>
                <label asp-for="@Model.Female">Female</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.Male" class="form-check-input"/>
                <label asp-for="@Model.Male" >Male</label>
            </div>
            <div class="col-4">
                <input asp-for="@Model.UnknownGender" class="form-check-input"/>
                <label asp-for="@Model.UnknownGender">Unknown</label>
            </div>
        </div>
        <hr />
        <h6 class="byu-text">Age</h6>
        <div class="row">
            <div class="col-6">
                <input asp-for="@Model.Adult" class="form-check-input"/>
                <label asp-for="@Model.Adult" >Adult - year 15+</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Child" class="form-check-input"/>
                <label asp-for="@Model.Child">Child - years 3-15</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input asp-for="@Model.Infant" class="form-check-input" />
                <label asp-for="@Model.Infant">Infant - years 1-3</label>
            </div>
            <div class="col-6">
                <input asp-for="@Model.Newborn" class="form-check-input"/>
                <label asp-for="@Model.Newborn">Newborn - year 0-1</label>
            </div>
        </div>
        <input asp-for="@Model.UnknownAge" class="form-check-input"/>
        <label asp-for="@Model.UnknownAge">Unknown</label>
        <hr />
        <h6 class="byu-text">Wrappings</h6>
        <div class="col-12">
            <input asp-for="@Model.LittleBones" class="form-check-input"/>
            <label asp-for="@Model.LittleBones">Bones/Little Wrapping</label>
        </div>
        <div class="col-12">
            <input asp-for="@Model.FullWrap" class="form-check-input"/>
            <label asp-for="@Model.FullWrap">Full/Nearly Full Wrapping</label>
        </div>
        <div class="col-12">
            <input asp-for="@Model.PartialWrap" class="form-check-input"/>
            <label asp-for="@Model.PartialWrap">Partial Wrapping</label>
        </div>
        <div class="col-12">
            <input asp-for="@Model.UnknownWrap" class="form-check-input"/>
            <label asp-for="@Model.UnknownWrap">Unknown</label>
        </div>
        <label asp-for="WrapWords">Wrapping Search Terms (separated by commas)</label>
        <input asp-for="WrapWords" type="text" value="@Model.WrapWords"/>
        <hr />
        <h6 class="byu-text">Items</h6>
        <label asp-for="ItemWords">Item Search Terms (separated by commas)</label>
        <input asp-for="ItemWords" type="text" value="@Model.ItemWords"/>

        <input type="submit" class="btn byu-color" value="Search" />
    </form>

</div>
<button class="openbtn float-left" onclick="openNav()">Change Search Parameters</button>

