@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mummies.Models.MummyDb.FagElGamousDatabaseByLocation
<form asp-action="MummyUpdate" method="Post">
    <div class="content-holder-main">

        <table cellspacing="0" border="0" id="ctl00_ContentPlaceHolder1_FormView1" style="border-collapse:collapse;">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="content-holder-main">
                            <table class="style1">
                                <tbody>
                                    <tr>
                                        <div colspan="3">
                                            <h5>Basic Mummy Info:</h5>
                                        </div>
                                    </tr>
                                    <tr>

                                        <div class="style8">
                                            <strong>Burial ID:</strong> <label>
                                                @Model.Burialnors @Model.BurialAreaNorthOrSouthLower/@Model.BurialAreaNorthOrSouthUpper @Model.Burialxeorw
                                                @Model.BurialAreaEastOrWestLower/@Model.BurialAreaEastOrWestUpper @Model.Square @Model.BurialNumber
                                            </label>
                                        </div>


                                        <br />
                                        <!--Square-->
                                        <label asp-for="Burialnors">Burial North or South (N/S): </label>

                                        @if (Model.Burialnors == "N")
                                        {
                                            <select class="form-control" asp-for="Burialnors">
                                                <option value="N" selected>North</option>
                                                <option value="S">South</option>
                                                <option value=null>Unknown</option>
                                            </select>
                                        }
                                        else if (Model.Burialnors == "S")
                                        {
                                            <select class="form-control" asp-for="Burialnors">
                                                <option value="N">North</option>
                                                <option value="S" selected>South</option>
                                                <option value=null>Unknown</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="form-control" asp-for="Burialnors">
                                                <option value="N">North</option>
                                                <option value="S">South</option>
                                                <option value=null selected>Unknown</option>
                                            </select>
                                        }



                                        <div>
                                            <label asp-for="BurialAreaNorthOrSouthLower">Lower Bound: </label>
                                            <input class="form-control" asp-for="BurialAreaNorthOrSouthLower" type="number" max="500" />
                                        </div>



                                        <div>
                                            <label asp-for="BurialAreaNorthOrSouthUpper">Upper Bound: </label>
                                            <input class="form-control" asp-for="BurialAreaNorthOrSouthUpper" type="number" max="500" />
                                        </div>

                                        <label asp-for="Burialxeorw">Burial East or West (E/W): </label>

                                        @if (Model.Burialxeorw == "E")
                                        {
                                            <select class="form-control" asp-for="Burialxeorw">
                                                <option value="E" selected>East</option>
                                                <option value="W">West</option>
                                                <option value=null>Unknown</option>
                                            </select>
                                        }
                                        else if (Model.Burialxeorw == "W")
                                        {
                                            <select class="form-control" asp-for="Burialxeorw">
                                                <option value="E">East</option>
                                                <option value="W" selected>West</option>
                                                <option value=null>Unknown</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="form-control" asp-for="Burialxeorw">
                                                <option value="E">East</option>
                                                <option value="W">West</option>
                                                <option value=null selected>Unknown</option>
                                            </select>
                                        }



                                        <div>

                                            <label asp-for="BurialAreaEastOrWestLower">Lower Bound: </label>
                                            <input class="form-control" asp-for="BurialAreaEastOrWestLower" type="number" max="500" />

                                            <label asp-for="BurialAreaEastOrWestUpper">Upper Bound:</label>
                                            <input class="form-control" asp-for="BurialAreaEastOrWestUpper" max="500" />

                                        </div>

                                        <div>
                                            <label asp-for="Square">Square:</label>


                                            @if (Model.Square == "NE")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE" selected>East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "NNE")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE" selected>North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "NW")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW" selected>North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "NNW")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW" selected>North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "SE")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE" selected>South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "SSE")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE" selected>South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "SW")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW" selected>South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else if (Model.Square == "SSW")
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW" selected>South South West</option>
                                                    <option value=null>Unknown</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" asp-for="Square">
                                                    <option value="NE">East</option>
                                                    <option value="NNE">North North East</option>
                                                    <option value="NW">North West</option>
                                                    <option value="NNW">North North West</option>
                                                    <option value="SE">South East</option>
                                                    <option value="SSE">South South East</option>
                                                    <option value="SW">South South West</option>
                                                    <option value="SSW">South South West</option>
                                                    <option value=null selected>Unknown</option>
                                                </select>
                                            }


                                        </div>
                                        <div>
                                            <label asp-for="BurialNumber">Burial Number: </label>
                                            <input class="form-control" asp-for="BurialNumber" type="number" max="100 />
                                        </div>
                                    <tr>
                                        <td><br /></td>
                                    </tr>
                                <td class="style9">
                                    <b>Orientation:</b>
                                </td>
                                <td>

                                    @if (Model.BurialDirection == "E")
                                    {
                                        <select class="form-control" asp-for="BurialDirection">
                                            <option value="E" selected>East</option>
                                            <option value="W">West</option>
                                            <option value=null>Unknown</option>
                                        </select>
                                    }
                                    else if (Model.BurialDirection == "W")
                                    {
                                        <select class="form-control" asp-for="BurialDirection">
                                            <option value="E">East</option>
                                            <option value="W" selected>West</option>
                                            <option value=null>Unknown</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control" asp-for="BurialDirection">
                                            <option value="E">East</option>
                                            <option value="W">West</option>
                                            <option value=null selected>Unknown</option>
                                        </select>
                                    }
                                </td>

                                <td>
                                    <b>Depth:</b>
                                </td>
                                <td>
                                    @if (Model.BurialDepth == 0 || Model.BurialDepth is null)
                                    {
                                        <input value="0" max=20 />
                                    }
                                    else
                                    {
                                        <input value="@Model.BurialDepth" max="20" />
                                    }
                                </td>
                                <td class="style9">
                                    <b>Wrapping:</b>
                                </td>
                                <td>
                                    @if (Model.BurialWrappingCode is null || Model.BurialWrappingCode == "U")
                                    {
                                        <select class="form-control" asp-for="BurialWrapping">
                                            <option value="U" selected>Unknown</option>
                                            <option value="W">Fully Wrapped</option>
                                            <option value="H">Partial Wrapping</option>
                                            <option value="B">Very Little/No Wrapping</option>
                                        </select>
                                    }
                                    else if (Model.BurialWrappingCode == "W")
                                    {
                                        <select class="form-control" asp-for="BurialWrapping">
                                            <option value="U">Unknown</option>
                                            <option value="W" selected>Fully Wrapped</option>
                                            <option value="H">Partial Wrapping</option>
                                            <option value="B">Very Little/No Wrapping</option>
                                        </select>
                                    }
                                    else if (Model.BurialWrappingCode == "H")
                                    {
                                        <select class="form-control" asp-for="BurialWrapping">
                                            <option value="U">Unknown</option>
                                            <option value="W">Fully Wrapped</option>
                                            <option value="H" selected>Partial Wrapping</option>
                                            <option value="B">Very Little/No Wrapping</option>
                                        </select>
                                    }
                                    else if (Model.BurialWrappingCode == "B")
                                    {
                                        <select class="form-control" asp-for="BurialWrapping">
                                            <option value="U">Unknown</option>
                                            <option value="W">Fully Wrapped</option>
                                            <option value="H">Partial Wrapping</option>
                                            <option value="B" selected>Very Little/No Wrapping</option>
                                        </select>
                                    }
                                </td>
                                <td>
                                </td>
                </tr>
                <tr>
                    <td class="style9">
                        <b>Items:</b>
                    </td>
                    <td>
                        @if (Model.Goods != null)
                        {
                            <input value="@Model.Goods" />
                        }
                        else
                        {
                            <input value="" maxlength="100" />
                        }

                    </td>

                    <td>
                        <b>Hair Color:</b>
                    </td>
                    <td>
                        @if (Model.HairColorCode is null || Model.HairColorCode == "U")
                        {
                            <input value="Unknown" maxlength="15" />
                        }
                        else
                        {
                            <input value="@Model.HairColor" maxlength="15" />
                        }
                    </td>

                    <td class="style9">
                        <b>Age:</b>
                    </td>
                    <td>
                        @if (Model.AgeCodeSingle is null || Model.AgeCodeSingle == "U")
                        {
                            <input value="" maxlength="15" />
                        }
                        else
                        {
                            <input value="@Model.Age" maxlength="25" />
                        }
                    </td>

                </tr>

                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <th colspan="3">
                        <h5>Field Book Information:</h5>
                    </th>
                </tr>
                <tr>
                    <td class="style8">
                        <b>Field Book:</b>
                    </td>
                    <td class="style7">
                        <input value="@Model.FieldBook" maxlength="10" />
                    </td>
                    <td class="style9">
                        <b>Field Book Page #:</b>
                    </td>
                    <td>
                        <input value="@Model.FieldBookPageNumber" maxlength="10" />
                    </td>
                    <td>
                        <b>Initials of Data Entry Expert:</b>
                    </td>
                    <td>
                        <input value="@Model.InitialsOfDataEntryExpert" maxlength="4" />
                    </td>
                    <td>
                        <b>Initials of Data Entry Checker:</b>
                    </td>
                    <td>
                        <input value="@Model.InitialsOfDataEntryChecker" maxlength="4" />
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <th colspan="3">
                        <h5>Catalague Information:</h5>
                    </th>
                </tr>
                <tr>
                    <td class="style8">
                        <b>Rack and Shelf:</b>
                    </td>
                    <td class="style7">
                        <input value="@Model.RackAndShelf" maxlength="15" />
                    </td>
                    <td class="style9">
                        <b>Tomb:</b>
                    </td>
                    <td>
                        <input value="@Model.Tomb" maxlength="1" />
                    </td>
                    <td>
                        <b>Area (Hill Burials):</b>
                    </td>
                    <td>
                        <input value="@Model.AreaHillBurials" maxlength="3" />
                    </td>

                    <td valign="top">
                        <b>Locale:</b>
                    </td>
                    <td valign="top">
                        <input maxlength="20" value="@Model.BurialAreaNorthOrSouthLower / @Model.BurialAreaNorthOrSouthUpper @Model.BurialAreaEastOrWestLower / @Model.BurialAreaEastOrWestUpper" />
                    </td>
                </tr>
                <tr>
                    <td class="style8">
                        <b>Year Excavated:</b>
                    </td>
                    <td class="style7">
                        <input max="2100" maxlength="4" value="@Model.YearExcav" />
                    </td>
                    <td class="style9">
                        <b>BYU Sample:</b>
                    </td>
                    <td>
                        @if (Model.ByuSample == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="Y">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="Y" selected>No/Unknown</option>
                            </select>
                        }
                    </td>
                    <td colspan="3">
                        <table colspan="3">

                            <tr colspan="3">
                                <td class="style9" colspan="3"><strong>Burial West To Head:</strong></td>
                                <td colspan="3"><input maxlength="4" max="10" /></td>
                            </tr>
                            <tr colspan="3">
                                <td class="style9" colspan="3"><strong>Burial West To Feet:</strong></td>
                                <td colspan="3"><input maxlength="4" max="10" /></td>
                            </tr>
                            <tr colspan="3">
                                <td class="style9" colspan="3"><strong>Burial South To Head:</strong></td>
                                <td colspan="3"><input maxlength="4" max="10" /></td>
                            </tr>
                            <tr colspan="3">
                                <td class="style9" colspan="3"><strong>Burial South To Feet:</strong></td>
                                <td colspan="3"><input maxlength="4" max="10" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <th colspan="3">
                        <h5>Physical Attributes:</h5>
                    </th>
                </tr>

                <tr>
                    <td class="style8">
                        <b>Body Analysis:</b>
                    </td>
                    <td class="style7">
                        <input value="@Model.BodyAnalysis" maxlength="10" />
                    </td>
                    <td class="style8">
                        <b>Date On Skull:</b>
                    </td>

                    <td class="style7"><input maxlength="20" type="date" /></td>


                    <td class="style7">

                        <b>Skull at Magazine:</b>
                    </td>
                    <td>
                        @if (Model.SkullAtMagazine == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="N">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="N" selected>No/Unknown</option>
                            </select>
                        }
                    </td>
                    <td>
                        <b>Postcrania At Magazine:</b>
                    </td>
                    <td>
                        @if (Model.PostcraniaAtMagazine == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="N">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="N" selected>No/Unknown</option>
                            </select>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="style8">
                        <b>Cribria Orbitala:</b>
                    </td>
                    <td class="style7">
                        @if (Model.CribraOrbitala == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="N">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="N" selected>No/Unknown</option>
                            </select>
                        }
                    </td>
                    <td class="style9">
                        <b>Linear Hypoplasia Enamel:</b>
                    </td>
                    <td>
                        @if (Model.LinearHypoplasiaEnamel == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="N">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="N" selected>No/Unknown</option>
                            </select>
                        }
                    </td>
                    <td>
                        <b>Temporal Mandibular Joine Osteoarthritis (TMJOA):</b>
                    </td>
                    <td>
                        @if (Model.TemporalMandibularJointOsteoarthritisTmjOa == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="N">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="N" selected>No/Unknown</option>
                            </select>
                        }
                    </td>

                    <td>
                        <b>Postcrania Trauma:</b>
                    </td>
                    <td>
                        @if (Model.PostcraniaTrauma == "Y")
                        {
                            <select class="form-control">
                                <option value="Y" selected>Yes</option>
                                <option value="N">No/Unknown</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control">
                                <option value="Y">Yes</option>
                                <option value="N" selected>No/Unknown</option>
                            </select>
                        }
                    </td>

                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <th colspan="3">
                        <h5>Osteology/Archeological Notes:</h5>
                    </th>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>

                    <td class="style8" style="height:72px;">
                        <b>Osteology Notes:</b>
                    </td>
                    <td class="style7">
                        <input value="@Model.OsteologyNotes" maxlength="200" style="height:72px;" />
                    </td>
                </tr>
                <tr>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 1</b>
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column73" maxlength="200" style="height:72px;" />
                    </td>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 2</b>
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20">
                        <input value="@Model.Column74" maxlength="200" style="height:72px;" />
                    </td>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 3</b>
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column75" maxlength="200" style="height:72px;" />
                    </td>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 4</b>
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column76" maxlength="200"  style="height:72px;"/>
                    </td>
                </tr>
                <tr>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 5</b>:
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column77" maxlength="200" style="height:72px;" />
                    </td>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 6</b>:
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column78" maxlength="200" style="height:72px;" />
                    </td>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 7</b>:
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column79" maxlength="200" style="height:72px;" />
                    </td>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 8</b>:
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column80" maxlength="200" style="height:72px;" />
                    </td>

                </tr>
                <tr>
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 9</b>:
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column81" maxlength="200" style="height:72px;" />
                    <td class="style8" valign="top" style="height:72px;">
                        <b>Notes 10</b>:
                    </td>
                    <td class="style7" valign="top" rows="2" cols="20" style="height:72px;">
                        <input value="@Model.Column82" maxlength="200"  style="height:72px;"/>
                    </td>

                </tr>


            </tbody>
        </table>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    <br>
    <br>
    <br>
    </div>
    <input hidden asp-for="BurialId" value="@Model.BurialId" />
    <div asp-validation-summary="All"></div>
    <button type="submit">Submit</button>
</form>
