@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*This is an add mummy page for researchers (will have a form, and possibly photo upload)*@


<div><p>This is an add mummy page for researchers (will have a form, and possibly photo upload)</p></div>


@model FagElGamousDatabaseByLocation

<div class="container">

    <form method="post" asp-action="UpdateMummy">
        <div class="row">
            <div class="col">


                <h2>Basics</h2>
                <br />
                <!--Square-->
                <div>
                    <label asp-for="Burialnors">North/South (N/S): </label>
                    <select class="form-control" asp-for="Burialnors">
                        <!--use razor code to determine which of these is selected-->
                        <option value="N">North</option>
                        <option value="S">South</option>
                    </select>
                </div>



                <div>
                    <label asp-for="BurialAreaNorthOrSouthLower">Lower Bound: </label>
                    <input class="form-control" asp-for="BurialAreaNorthOrSouthLower" value="@Model.BurialAreaNorthOrSouthLower" />
                </div>



                <div>
                    <label asp-for="BurialAreaNorthOrSouthUpper">Upper Bound: </label>
                    <input class="form-control" asp-for="BurialAreaNorthOrSouthUpper" value="@Model.BurialAreaNorthOrSouthUpper"/>
                </div>



                <div>
                    <label asp-for="Burialxeorw">East/West (E/W): </label>
                    <select class="form-control" id="" name="" asp-for="Burialxeorw">
                        <option value="E">East</option>
                        <option value="W">West</option>
                    </select>
                </div>



                <div>
                    <label asp-for="BurialAreaEastOrWestLower">Lower Bound: </label>
                    <input class="form-control" asp-for="BurialAreaEastOrWestLower" value="@Model.BurialAreaEastOrWestLower" />
                </div>



                <div>
                    <label asp-for="BurialAreaEastOrWestUpper">Upper Bound: </label>
                    <input class="form-control" asp-for="BurialAreaEastOrWestUpper"  value="@Model.BurialAreaEastOrWestUpper"/>
                </div>



                <!--Area-->
                <div>
                    <label asp-for="Square" for="">Area: </label>
                    <select class="form-control" id="area" name="area" asp-for="Square">
                        <option value="NE">NE</option>
                        <option value="NW">NW</option>
                        <option value="SE">SE</option>
                        <option value="SW">SW</option>
                    </select>
                </div>


                <!--Burial Number-->

                <div>
                    <label asp-for="BurialNumber">Burial Number: </label>
                    <input class="form-control" asp-for="BurialNumber" value="@Model.BurialNumber" />
                </div>

            </div>

            <div class="col">


                <h2>Metrics</h2>
                <br />


                <div>
                    <label asp-for="BurialSouthToHead">South to Head: </label>
                    <input class="form-control" asp-for="BurialSouthToHead" value="@Model.BurialSouthToHead" />
                </div>



                <div>
                    <label asp-for="BurialSouthToFeet">South to Feet: </label>
                    <input class="form-control" asp-for="BurialSouthToFeet" value="@Model.BurialSouthToFeet" />
                </div>



                <div>
                    <label asp-for="BurialWestToHead">West to Head: </label>
                    <input class="form-control" asp-for="BurialWestToHead" value="@Model.BurialWestToHead" />
                </div>



                <div>
                    <label asp-for="BurialWestToFeet">West to Feet: </label>
                    <input class="form-control" asp-for="BurialWestToFeet" value="@Model.BurialWestToFeet" />
                </div>



                <div>
                    <label asp-for="Length">Length: </label>
                    <input class="form-control" asp-for="Length" value="@Model.Length" />
                </div>



                <div>
                    <label asp-for="BurialDepth">Depth: </label>
                    <input class="form-control" asp-for="BurialDepth" value="@Model.BurialDepth" />
                </div>


                <h2>Observation</h2>
                <br />


                <div>
                    <label asp-for="Photo">Photo: </label>
                    <select class="form-control" id="photo" name="Photo" asp-for="Photo">
                        <option value="Y">Yes</option>
                        <option selected value="N">No</option>
                    </select>
                </div>



                <div>
                    <label asp-for="Goods">Burial Goods: </label>
                    <select class="form-control" id="goods" name="Goods" asp-for="Goods">
                        <option value="Y">Yes</option>
                        <option selected value="N">No</option>
                        <option value="U">Unknown</option>
                    </select>
                </div>
                <br />
                <table>
                    <tr>
                        <th colspan="3">
                            <h5>Osteology/Archeological Notes:</h5>
                        </th>
                    </tr>

                    <td><br /></td>
                    <tr>
                        <td class="style8" valign="top">
                            <b>Notes 1</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column73</textarea>
                        </td>

                        <td class="style8" valign="top">
                            <b>Notes 2</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column74</textarea>
                        </td>
                        <td class="style8" valign="top">
                            <b>Notes 3</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column75</textarea>
                        </td>
                        <td class="style8" valign="top">
                            <b>Notes 4</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column76</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="style8" valign="top">
                            <b>Notes 5</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column77</textarea>
                        </td>
                        <td class="style8" valign="top">
                            <b>Notes 6</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column78</textarea>
                        </td>
                        <td class="style8" valign="top">
                            <b>Notes 7</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column79</textarea>
                        </td>
                        <td class="style8" valign="top">
                            <b>Notes 8</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column80</textarea>
                        </td>

                    </tr>
                    <tr>
                        <td class="style8" valign="top">
                            <b>Notes 9</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column81</textarea>
                        <td class="style8" valign="top">
                            <b>Notes 10</b>:
                        </td>
                        <td class="style7" valign="top">
                            <textarea name="ctl00$ContentPlaceHolder1$FormView1$DescriptionLabel0" rows="2" cols="20" readonly="readonly" id="ctl00_ContentPlaceHolder1_FormView1_DescriptionLabel0" style="height:72px;">@Model.Column82</textarea>
                        </td>

                    </tr>
                </table>
                <input hidden asp-for="BurialId" value="@Model.BurialId" />
                <div asp-validation-summary="All"></div>
                <button type="submit">Submit</button>

            </div>
            <br />
        </div>
    </form>

</div>

